<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%=title%>
    <%if(showMessage){%>
        <br>
        <%=message%>
        <%}else{%>
            este es un mensaje por defecto
         <%}%>
         <ul>
         <% for(let i=0;i<items.length;i++){%>
            <li><%=items[i]%></li>
         <%}%>   
         </ul>


</head>
<body>
    <h1> primera pagina</h1>
</body>
</html>